.ChatPageComponent {
  display: flex;
  height: 70%;
  max-height: 630px;
  max-width: 760px;
  margin: 0 auto;

  border: 1px solid gray;

  .room-list {
    border-right: 1px solid gray;
    width: 30%;
  }

  .chat-screen {
    margin-left: 20px;
    max-height: 550px;
    display: flex;
    flex-direction: column;
    width: 70%;

    .message-list {
      overflow-x: hidden;
      overflow-y: scroll;
      height: 100%;
    }

    .form {
      margin-top: auto;
    }
  }
}
