.correction-component {
  display: flex;
  border: 1px solid gray;
  width: 100%;
  padding-bottom: 20px;

  .profile {
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
  }

  .content {
    width: 100%;
    .user-id {
      padding-top: 6px;
      padding-bottom: 10px;
      display: flex;
      align-items: center;

      h4 {
        margin: 0;
        font-size: 14px;
      }
    }

    .text {
      font-size: 14px;
      width: 100%;

      &.original {
        padding-bottom: 20px;
      }
      &.correction {
        padding-top: 20px;
      }

      .modified {
        color: #ff3333;
        font-weight: bold;
      }
    }
  }
}
